
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: transparent; /* or set to 'none' or 'transparent' */
  border-radius: 0;
  box-shadow: none;
}
input, select {
  width: 100%;
  padding: 10px;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.headingMain{
  text-align:center;
  font-size:25px;
  color:#000;
}
button {
  width: 100%;
  padding: 10px;
  background: #2b70f7;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
#fuelCostResult {
  margin-top: 1.5rem;
  font-weight: bold;
}
.calcButton {
  background-color: #001489;
}
